body {
  font-family: "Gentium Book Basic", serif;
}

.header {
  padding-left: 15px;
  font-size: 3rem;
}

.header-recently-added {
  font-size: 2rem;
}

.book-of-the-month-container {
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 320px;
}
.book-of-the-month-container img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 350px;
}
.book-of-the-month {
  background-color: rgb(191, 230, 204);
}

.featured img {
  height: 400px;
}

.featured-book {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-books-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recently-added-reviews {
  display: flex;
  flex-direction: column;
}

.book-review-intro {
  background-color: rgb(236, 241, 241);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 330px;
}

.book-review-intro img {
  height: 300px;
}

.review-synopsis {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  padding: 25px;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 2rem;
  }
  .featured {
    flex-direction: column;
    justify-content: space-around;
  }
  .featured-book {
    margin-top: 15px;
  }
}
