body {
  font-family: "Gentium Book Basic", serif;
}

.header {
  font-size: 3rem;
  padding-left: 15px;
}

.header-recently {
  font-size: 3rem;
}

.book-of-the-month-container {
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 320px;
}
.book-of-the-month-container img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
}
.book-of-the-month {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.featured img {
  height: 400px;
}

.featured-books-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.featured-books-container img {
  height: 380px;
}

.recently-added-reviews {
  display: flex;
  flex-direction: column;
}

.book-review-intro {
  background-color: rgb(236, 241, 241);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 330px;
}

.book-review-intro img {
  height: 300px;
}

.review-synopsis {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  padding: 25px;
}

.recently-added-container {
  margin-top: 2rem;
  display: flex;
}

.recently-added-books {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}
.book-container {
  display: flex;
}

.book-review-synopsis {
  flex-grow: 2;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  width: 400px;
}

.book-cover img {
  height: 250px;
}

.cta {
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 10px;
}

.book-of-the-month a {
  color: rgb(119, 27, 27);
}

.book-of-the-month a:hover {
  text-decoration: none;
}

/* book details page  */

.book-details-container {
  display: flex;
}

.details-data {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.details-data h3 {
  color: #17a2b8;
}

.comments {
  background-color: rgb(236, 241, 241);
  margin-bottom: 30px;
}

.likes-number {
  margin-left: 5px;
}
.delete {
  color: red;
}
/* media queries*/
@media only screen and (max-width: 600px) {
  .header {
    font-size: 2rem;
  }
  .recently-added-container {
    flex-direction: column;
  }

  .featured-books-container {
    flex-direction: column;
  }

  .featured-book {
    margin-top: 15px;
    margin-right: 5px;
  }

  .featured-book-container img {
    height: 150px;
  }
  .book-container {
    flex-direction: column;
    align-items: center;
  }
  .book-cover img {
    height: 450px;
  }
  .book-review-synopsis {
    font-size: 1.5rem;
    text-align: center;
  }
}
