{% extends 'layout.html'%} {% block content %}

<div class="container ">
  <div class="row mt-3">
    <h3 class="header">Trending books</h3>
  </div>
  <!-- SECTION: TRENDING BOOKS -->
  <div class="featured-books-container mt-3">
    {% for book in books %} {% if book.trending %}
    <div class="featured-book">
      <a href="{{ book._id }}"><img src="{{ book.cover }}"/></a>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
<!-- SECTION: RECENTLY ADDED BOOKS -->
<div class="recently-added-container">
  <div class="recently-added-books">
    <div class="heading">
      <h2 class='header-recently'>Recently added</h2>
    </div>
    <div class="content mt-3">
      {% for book in recently_added %}
      <div class="book-container mt-3">
        <!-- BOOK COVER -->
        <div class="book-cover">
          <a href="{{ book._id }}"><img src="{{ book.cover }}"/></a>
        </div>
        <!-- BOOK DETAILS -->
        <div class="book-review-synopsis">
          <h2>{{ book.title }}</h2>
          <p class="strong author">by {{ book.author }}</p>

          <p>
            {{ book.teaser }}
          </p>
          <p><a href="{{ book._id }}">Read more...</a></p>
          <!-- BOOK RATING -->
          <p>
              {% for heart in book.hearts %}
              <i class="fas fa-star"></i>
              {% endfor %}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- SECTION: BOOK OF THE MONTH -->
  <div class="book-of-the-month">
    <h2 class='header-recently'>Bestsellers</h2>
    {% for book in books_of_the_month %}
    <a href="{{ book._id }}"><img src="{{ book.cover }}"/></a>
    {% endfor %}
  </div>
</div>

{% endblock content %}
