{% extends 'layout.html' %} {% block content %}

<!-- FORM FOR EDITING A BOOK -->
<!-- DATA RECEIVED AS {{ BOOK. }} -->
<h2 class="header mt-3 text-center">Any changes?</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form
        method="POST"
        action="{{ url_for('update_book', book_id=book._id) }}"
        mt-3
      >
        <div class="form-group">
          <label for="title">Title*</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="{{ book.title }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="author">Author*</label>
          <input
            type="text"
            class="form-control"
            id="author"
            name="author"
            value="{{ book.author }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="cover">Cover*</label>
          <input
            type="text"
            class="form-control"
            id="cover"
            name="cover"
            value="{{ book.cover }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="teaser">Teaser*</label>
          <input
            type="text"
            class="form-control"
            id="teaser"
            name="teaser"
            value="{{ book.teaser }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="reviewer">Reviewer*</label>
          <input
            type="text"
            class="form-control"
            id="reviewer"
            name="reviewer"
            value="{{ book.reviewer }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="review">Review*</label>
          <input
            type="text"
            class="form-control"
            id="review"
            name="review"
            value="{{ book.review }}"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="hidden"
            class="form-control"
            id="likes"
            name="likes"
            value="{{ book.likes }}"
          />
        </div>
        <div class="form-group">
          <input
            type="hidden"
            class="form-control"
            id="trending"
            name="trending"
            value="{{"
            book.trending
            }}
          />
        </div>
        <div class="form-group">
          <input
            type="hidden"
            class="form-control"
            id="book_of_the_month"
            name="book_of_the_month"
            value="{{"
            book.book_of_the_month
            }}
          />
        </div>

        <button class="btn btn-info mb-3">Save book</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
